{% extends 'blog/base.html' %}

{% block title %}Mini Blog - Lista{% endblock %}

{% block content %}
<div class="post-list">
    <h1>Feed de Posts</h1>
    <a href="{% url 'post_create' %}" class="btn btn-primary">Novo Post</a>
    <ul>
        {% for post in posts %}
        <li class="post-item">
            <a href="{% url 'post_detail' post.pk %}" class="post-link">{{ post.title }}</a>
            <span class="post-date">{{ post.created_at|date:"d M Y" }}</span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}